[submodule "Vendor/pngquant"]
	path = Vendor/pngquant
	url = https://github.com/pornel/pngquant.git
[submodule "Vendor/libpng"]
	path = Vendor/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "Vendor/KBButton"]
	path = Vendor/KBButton
	url = https://github.com/kwbock/KBButton.git
